body{
	font-size: 16pt;
	color: black;
	background-color: white;
}
h1{
	font-size: 24pt;
	color: black;
}
h5{
	font-size: 24pt;
	color: black;
	font-weight: bold;

}
.my-container{
	align-content: auto;
}
.my-row{
	align-items: auto;
}
.my-button{
	width: 150px;
	height: 50px;
}
.slickCard {
	height: auto;
	align-self: stretch;
	opacity: 0.33;
}
.centerVert{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}